@model IncidentViewModel
@{
    ViewBag.Title = ViewBag.Action + " Incident";
}
<h2>@ViewBag.Title</h2>
<form asp-action="@ViewBag.Action" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Incident.customerID" class="form-label">Customer</label>
        <select class="form-select" asp-for="Incident.customerID" asp-items="@(new SelectList(ViewBag.Customer, "customerID", "firstName", Model.Incident.customerID.ToString()))"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Incident.productID" class="form-label">Product</label>
        <select class="form-select" asp-for="Incident.productID" asp-items="@(new SelectList(ViewBag.Product, "ProductID", "name", Model.Incident.productID.ToString()))"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Incident.title" class="form-label">Title</label>
        <input asp-for="Incident.title" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Incident.description" class="form-label">Description</label>
        <input asp-for="Incident.description" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Incident.technician" class="form-label">Technician</label>
        <select class="form-select" asp-for="Incident.technicianID" asp-items="@(new SelectList(ViewBag.Technician, "TechnicianID", "name", Model.Incident.technicianID.ToString()))"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Incident.dateOpened" class="form-label">Date Opened</label>
        <input asp-for="Incident.dateOpened" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Incident.dateClosed" class="form-label">Date Closed</label>
        <input asp-for="Incident.dateClosed" class="form-control">
    </div>

    <input type="hidden" asp-for="Incident.IncidentID" />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="List"
       class="btn btn-primary">Cancel</a>
</form>