@model List<Incident>
@{
    ViewBag.Title = "Incident Page";
}

<h2>Incident Manager</h2>

<form method="post">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="Incident" asp-route-filter="all">All incidents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="Incident" asp-route-filter="unassigned">Unassigned incidents </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="List" asp-controller="Incident" asp-route-filter="open">Open incidents</a>
        </li>

    </ul>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th> Title </th>
                <th> Customer </th>
                <th> Product</th>
                <th> Data Opened</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var incident in Model)
            {
                <tr class="table-active">
                    <td> @incident.title</td>
                    <td> @incident.customer.firstName  e</td>
                    <td> @incident.product.name </td>
                    <td> @incident.dateOpened  </td>
                    <td>
                        <a class="btn btn-primary mx-2" asp-action="Edit" asp-route-id="@incident.IncidentID">Edit</a>
                    </td>
                    <td> <a class="btn btn-primary mx-2" asp-action="Delete" asp-route-id="@incident.IncidentID">Delete</a> </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-secondary my-2 my-sm-0" asp-action="Edit" asp-route-page="add">Add Incident</a>
</form>